<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__logo"><a href="#" class="footer__logo-link">
        <img src="/images/logo.svg" width="160" height="85" alt="Логотип компании">
      </a>
    </div>
    <div class="footer__copyright">
      <p>© БЕЗ-МУСОРА.РФ 2017.</p>
      <p>Все права защищены</p>
    </div>

    <ul class="footer__menu">
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Стоимость</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Контакты</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Документы</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Новости</a>
      </li>
      <li class="footer__menu-item">
        <a href="#" class="footer__menu-link">Вакансии</a>
      </li>
    </ul>

    <div class="footer__opening-hours">
      <p>141730, Московская область, г.Лобня, <br>
        ул Промышленная 1А, 2 этаж, 8 кабинет</p>
    </div>

    <div class="footer__contacts">
      <a href="tel:+74951280838" class="footer__contacts-link">+7 (495) 128-08-38</a>
      <a href="mailto:eko-lobnya@mail.ru" class="footer__contacts-link">eko-lobnya@mail.ru</a>
      <a href="№" class="footer__contacts-btn btn">Заказать машину</a>
    </div>

    <div class="footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__item-icon" href="#">
            <svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#whatsapp" />
            </svg>
            <span class="visually-hidden">whatsapp</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__item-icon" href="#">
            <svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#tg" />
            </svg>
            <span class="visually-hidden">Telegram</span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__item-icon" href="#">
            <svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
              <use href="/images/sprite_auto.svg#viber" />
            </svg>
            <span class="visually-hidden">Viber</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
