{% set
list = [
{
title: 'Заместитель директора по выставочной деятельности и много всего остального',
name: 'Зайцева Анна Игоревна '
},
{
title: 'Главный хранитель',
name: 'Мисаланди-Мисаланди Елена Анатольевна'
},
{
title: 'Начальник отдела кадров',
name: 'Самошкина Елена'
},
{
title: 'Заместитель директора по эксплуатации',
name: 'Новиков Алексей Викторович'
},
{
title: 'Главный инженер',
name: 'Павловский Александр Аркадьевич'
},
{
title: 'Заместитель директора по техническим вопросам',
name: 'Флярковский Илья Владиславович'
},
{
title: 'Главный бухгалтер',
name: 'Михайлова Ольга Николаевна'
},
{
title: 'Ученый секретарь',
name: 'Бобылева Ирина Евгеньевна'
}
]
%}
